#!/usr/bin/env bash
APP_ORG="<%= org %>"
APP_NAME="<%= appname %>"
APP_LOC="<%= apploc %>"
APP_PORT_EXTERNAL=<%= externalPort %>
APP_PORT_INTERNAL=<%= internalPort %>
APP_BOOT_TIME=<%= appBootTime %>
VM_NAME="dockerized-vm"
RSYNC=false
DOCKER_REPO="<%= dockerHub %>"
VM_CREATE_TIME=<%= vmCreateTime %>
